<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Members Store</title>
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body >
  
  <header>
    <h1>Welcome to the store</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a> 
    <a href="/owner">Owner Login</a> 
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Checked items</h2>
      {{#if loggedIn}}
    <a href="/add" class="button">Add New Product</a>
     
    {{/if}}
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="./js/ownerlogin.js"></script>
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>